/* page defaults */
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    background-color: rgb(25, 25, 200);
    color: white;
}

/* grid container */
.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 3% 1fr 20%;
}

/* buttons */
button {
    margin: 40px;
    border-radius: 10px;
    border: 2px outset;
    background-color: skyblue;
    font-size: 180%;
    width: 200px;
    height: 80px;
    font-weight: bold;
}
button:active {
    border: 3px inset;
    background-color: green;
}

/* title container */
.title-div {
    grid-row: 1 / 1;
    display: flex;
    justify-content: space-between;
    padding: 6px;
}
.title {
    font-size: 20px;
    font-weight: bold;
}
.clock {
    padding-right: 20px;
}

/* welcome container */
.welcome-div {
    grid-row: 2 / 2;
    align-self: center;
    text-align: center;
}
.welcome-box {
    font-size: 45px;
}

/* checkbox position */
.checkbox-div {
    position: fixed;
    top: 75vh;
    left: 54vw;
    width: 400px;
    height: 80px;
    text-align: center;
}

/* checkbox */
.checkbox {
    margin: 0;
    width: 70px;
    height: 70px;
    float: left;
    vertical-align: top;
}
.checkbox-text {
    margin-top: 18px;
    margin-left: 10px;
    font-size: 200%;
    font-weight: lighter;
    float: left;
}