/* Page defaults */
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

/* Keypad container */
.keypad-container {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 1fr;
    width: 98vw;
    height: 98vh;
    box-sizing: border-box;
}
.panel-container {
    grid-row: 2 / 2;
    display: flex;
    justify-content: space-around;
}

/* Input box */
.input-container {
    text-align: center;
    grid-row: 1 / 1;
}
.input-title {
    margin: 20px;
    margin-top: 40px;
    font-size: 45px;
}
.input-header {
    font-weight: bolder;
    font-size: 30px;
}
.input-box {
    width: 500px;
    font-size: 30px;
}

/* Button styles */
button {
    border-radius: 10px;
    border: 2px outset;
    background-color: green;
    font-size: 200%;
    width: 200px;
    height: 160px;
    font-weight: bold;
}
button:active {
    border: 2px inset;
}
.empty {
    visibility: hidden;
}

/* Keypad */
.number-panel {
    display: grid;
    column-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.letter-panel {
    display: none;
    column-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

/* Function buttons */
.function-buttons {
    display: grid;
    column-gap: 80px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}