/* page defaults */
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    background-color: rgb(25, 25, 200);
    color: white;
}

/* grid container */
.container {
    padding: 5px;
    width: 100vw;
    height: 100vh;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 3% 1fr;
}

/* login title */
.title-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.title {
    grid-column: 1 / 1;
    font-size: 20px;
    font-weight: bold;
}
.version {
    font-size: 10px;
}

/* clock */
.clock {
    margin-right: 15px;
    grid-column: 2 / 2;
    justify-self: right;
}

/* welcome div */
.welcome-div {
    grid-row: 2 / 2;
    justify-self: center;
    align-self: center;
}
.welcome {
    font-size: 40px;
}

/* badge text */
.badge-text {
    font-family: 'Tahoma', Arial;
    font-size: 26px;
}

/* badge input */
.badge-input {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 26px;
    border-radius: 1px;
    width: 300px;
    height: 50px;
}

/* keypad button */
.keypad-button {
    margin: 20px;
    border-radius: 8px;
    border: 2px outset black;
    background-color: green;
    font-size: 185%;
    width: 80px;
    height: 80px;
    vertical-align: middle;
}

/* Button container */
.keypad-container {
    background-color: rgb(25, 25, 200);
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 1fr;
    position: absolute;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
.panel-container {
    grid-row: 2 / 2;
    display: flex;
    justify-content: space-around;
}

/* Input box */
.input-container {
    text-align: center;
    grid-row: 1 / 1;
}
.input-title {
    margin: 20px;
    margin-top: 40px;
    font-size: 45px;
}
.input-header {
    font-weight: bolder;
    font-size: 30px;
}
.input-box {
    width: 500px;
    font-size: 30px;
    border: 2px inset white;
    background-color: transparent;
    color: white;
}

/* Button styles */
.keypad-container button {
    border-radius: 10px;
    border: 2px outset;
    background-color: skyblue;
    font-size: 200%;
    width: 200px;
    height: 160px;
    font-weight: bold;
}
button:active {
    border: 2px inset;
}
.empty {
    visibility: hidden;
}

/* Keypad panel */
.number-panel {
    display: grid;
    column-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.letter-panel {
    display: none;
    column-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

/* Function buttons */
.function-buttons {
    display: grid;
    column-gap: 80px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}