/* page defaults */
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    background-color: rgb(25, 25, 200);
    color: white;
}

/* grid container */
.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    box-sizing: border-box;
}

/* button box */
.button-div {
    justify-self: center;
    align-self: center;
}

/* all buttons */
button {
    margin: 20px;
    border-radius: 10px;
    border: 2px outset;
    background-color: skyblue;
    font-size: 100%;
    width: 100px;
    height: 80px;
    font-weight: bold;
    vertical-align: top;
}
button:active {
    border: 3px inset;
    background-color: green;
}

/* numbers panel */
.panel {
    display: block;
    width: 480px;
    height: 480px;
    text-align: center;
    float: left;
}

/* letters panel */
.lpanel {
    display: none;
    width: 480px;
    height: 480px;
    text-align: center;
    float: left;
}

/* left side buttons */
.buttonBox {
    display: grid;
}
.button2 {
    margin-left: 0;
}

/* badge headers */
.badge-container {
    margin-left: 20px;
    width: 620px;
    height: 70px;
    text-align: center;
}
.badge-header {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 26px;
    font-family: 'Tahoma', Arial;
}
.badge-text {
    margin: 5px;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Tahoma', Arial;
}

/* badge input */
.badge-input {
    background-color: transparent;
    border: 2px inset white;
    color: white;
    font-size: 18px;
    border-radius: 2px;
    width: 250px;
    height: 20px;
}