/* page defaults */
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* container grid */
.container {
    margin: 10px;
    display: grid;
    grid-template-rows: 4vw 1fr 1fr;
    width: 98vw;
    height: 98vh;
    box-sizing: border-box;
}

/* header container */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.fire-table {
    grid-column: 1 / 1;
    width: 165px;
    height: 45px;
}
.title-container {
    grid-column: 2 / 2;
    text-align: center;
}

/* table list */
.bill-list-container {
    margin-top: 10px;
    display: grid;
    grid-row: 2 / 2;
    grid-template-columns: 1fr;
    grid-template-rows: 2vw 1fr;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.bill-titles {
    display: grid;
    grid-template-columns: 12vw 18vw 18vw 9vw 10vw 7vw 6vw 1fr;
    justify-items: start;
    align-self: start;
    grid-column: 1 / 8;
    grid-row: 1 / 1;
}
.bill-list-container button {
    font-weight: bold;
    padding: 3px;
}

/* bill text styles */
.pro-number {
    font-size: 18px;
    text-align: center;
}
.customer-name, .shipper-name {
    font-weight: bolder;
}

/* bill table */
.bill-table {
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    align-items: start;
}
tr {
    margin-top: 10px;
}
td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.bill-row {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 12vw 18vw 18vw 9vw 10vw 7vw 6vw 1fr;
    grid-template-rows: 1fr;
}
.flag {
    padding-left: 10px;
}
.no-records {
    display: block;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 20vh;
    text-align: center;
}

/* manifest buttons */
.manifest-buttons {
    display: flex;
    justify-content: space-between;
    grid-row: 3 / 3;
}
.manifest-buttons button {
    margin-top: 10px;
    margin-right: 20px;
    width: 120px;
    height: 60px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: green;
    border-radius: 0;
    border: 2px outset white;
}
.page-buttons {
    margin-right: 300px;
}
.manifest-buttons button:active {
    border: 2px inset white;
}

/* testing */
.test {
    width: 100px;
    height: 60px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: green;
    border-radius: 0;
    border: 2px outset white;
}