/* page defaults */
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* container grid */
.container {
    margin: 10px;
    display: grid;
    grid-template-rows: 4vh 1fr 1fr;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

/* header container */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.fire-table {
    grid-column: 1 / 1;
    width: 165px;
    height: 45px;
}
.title-container {
    grid-column: 2 / 2;
    text-align: center;
}

/* table list */
.bill-list-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row: 2 / 2;
    border: 1px solid black;
}
.bill-list-container button {
    font-weight: bold;
    padding: 3px;
}

/* manifest buttons */
.manifest-buttons {
    display: flex;
}
.manifest-buttons button {
    margin-top: 10px;
    margin-right: 10px;
    width: 100px;
    height: 60px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: green;
    border-radius: 0;
    border: 2px outset white;
}
.manifest-buttons button:active {
    border: 2px inset white;
}