/* page */
*{
    margin: 0;
    padding: 0;
}
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    background-color: rgb(25, 25, 200);
    color: white;
}

/* button styles */
button{
    background-color: lightgray;
    border-radius: 10px;
    border: 2px outset;
    font-size: 200%;
    width: 200px;
    height: 80px;
    font-weight: bold;
}
button:not(.dimension):active {
    border: 3px inset;
    background-color: green;
}
.plus, .minus {
    margin-top: 10px;
    background-color: orange;
    width: 100px;
    height: 70px;
    border-radius: 0;
    font-size: 60px;
}

/* main grid container */
.container{
    display: grid;
    margin: 10px;
    width: 98%;
    height: 98%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3% 1fr;
    box-sizing: border-box;
}

/* header flex */
.header {
    display: flex;
    grid-column: 1 / 3;
    justify-content: space-between;
}
.version-clock {
    display: flex;
}
.version {
    margin-left: 40px;
    margin-right: 20px;
}

/* info column */
.info-container {
    display: grid;
    grid-template-rows: 30% 70%;
    border: 2px solid black;
}
/* info text */
.info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info-text h2 {
    font-size: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: 88%;
}
.info-text span {
    font-weight: lighter;
    font-size: 30px;
}
.ex-info {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: space-between;
}

/* HU weight capture grid box */
.hu-buttons{
    display: grid;
    grid-row: 2 / 2;
    grid-template-rows: 40% 1fr;
    border: 1px solid white;
    border-radius: 10px;
    align-self: flex-end;
    width: 650px;
    height: 490px;
}
.counter-container {
    margin: 10px;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
}
.counter {
    font-size: 30px;
}
.counter span {
    font-weight: lighter;
    font-size: 40px;
}
.keypad{
    margin: 40px;
    border-radius: 8px;
    border: 2px outset black;
    background-color: green;
    font-size: 300%;
    line-height: 10px;
    width: 90px;
    height: 90px;
}
.weight-container {
    margin: 10px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}
.live-weight {
    font-size: 80px;
    font-weight: lighter;
    margin-top: 20px;
}
.capture {
    margin-top: 20px;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}
.dimension {
    color: gray;
    grid-row: 2 / 2;
}
.complete {
    grid-row: 2 / 2;
}