*{
    margin: 0;
    padding: 0;
}
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    background-color: rgb(25, 25, 200);
    color: white;
}

/* buttons */
button{
    margin: 40px;
    background-color: lightgray;
    border-radius: 10px;
    border: 2px outset;
    font-size: 180%;
    width: 200px;
    height: 80px;
    font-weight: bold;
}
button:active {
    border: 3px inset;
    background-color: green;
}

/* grid container */
.container{
    display: grid;
    margin: 10px;
    width: 98%;
    height: 98%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3% 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    gap: 10px
}

.header {
    display: flex;
    grid-column: 1 / 3;
    justify-content: space-between;
    border: 2px solid black;
}
.version-clock {
    display: flex;
}
.version {
    margin-left: 40px;
    margin-right: 20px;
}