/* Page defaults*/
* {
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    background-color: rgb(25, 25, 200);
    color: white;
}

/* Buttons */
button {
    margin: 40px;
    background-color: green;
    border-radius: 10px;
    border: 2px outset;
    font-size: 180%;
    width: 200px;
    height: 80px;
    font-weight: bold;
}
button:active {
    border: 3px inset;
    background-color: green;
}
.insp-yes {
    background-color: white;
}
.insp-no {
    background-color: white;
}

/* Grid container */
.container {
    display: grid;
    margin: 10px;
    width: 98vw;
    height: 98vh;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: [head] 3% [weight] 1fr [inspect] 1fr [info] 1fr;
}

/* Flex header */
.header {
    display: flex;
    justify-content: space-between;
    grid-row: head / head;
}
.clock-div {
    display: flex;
}

/* Weight flex */
.weight-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: weight / weight;
    border: 2px solid black;
}
.weight-text {
    margin-left: 10px;
    display: flex;
    align-items: baseline;
}
.weight-buttons {
    display: flex;
}
.weight {
    font-size: 40px;
}

/* Inspection flex */
.inspection-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-top: none;
}
.insp-text {
    margin-left: 10px;
    width: 300px;
}

/* Info flex */
.info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-top: none;
}
.info-text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 250px;
}
.logout {
    margin-right: 130px;
}