/* page defaults */
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: blue;
    color: white;
}

/* container grid */
.container {
    font-family: sans-serif;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3vh 1fr;
    width: 98vw;
    height: 98vh;
    box-sizing: border-box;
}
.child-container {
    grid-row: 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Header */
.header {
    grid-row: 1 / 1;
    margin-right: 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

/* Rewigh warning */
.reweigh-text {
    margin-top: 60px;
    grid-row: 2 / 2;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

/* Reweigh table */
.reweigh-table {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    width: 90vw;
    height: 25vh;
}
.cell1 {
    border: 1px solid white;
    font-size: 30px;
    padding: 50px;
    text-align: center;
}
.cell2 {
    border: 1px solid white;
    border-left: 0;
    font-size: 45px;
    padding-top: 70px;
    padding-left: 30px;
}
.cell3 {
    border: 1px solid white;
    border-top: 0;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.cell4 {
    border: 1px solid white;
    border-left: 0;
    border-top: 0;
    font-size: 45px;
    padding: 20px;
    padding-left: 30px;
}

/* button container */
.button-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    width: 98vw;
    height: 80px;
}

/* Buttons */
button {
    border: 2px outset white;
    background-color: green;
    border-radius: 10px;
    width: 200px;
    height: 80px;
    font-size: 30px;
    font-weight: bold;
}
button:active {
    border: inset;
}